%h1
  - if @page == 0
    Most Recent Uploads
  - else
    Uploads, page #{@page}
%nav
  %a(href="/?page=#{@page > 0 ? @page-1 : 0}") [ ← ]
  %a(href="/") [ Home ]
  %a(href="/?page=#{@page+1}") [ → ]
- if @uploads.empty?
  %p None found!
- else
  %table.uploads
    %tr
      %th ID
      %th Status
      %th User
      %th Branch
      %th Received
      %th Diff
      %th Approver
      %th Completed
    - @uploads.each do |ul|
      %tr(class="upload #{ul.status}")
        %td
          %a(href="/upload/#{ul.id}")
            Upload #{ul.id}
        %td= ul.status
        %td= ul.user
        %td= ul.branch
        %td= fmt_time(ul.received_at)
        %td.hashes
          %a(href="#{ul.github_link}")= ul.short_hashes
        %td= ul.approver
        %td
          - if ul.completed_at
            = fmt_time(ul.completed_at)
